/* This snippet is injected by Anima. Feel free to delete this comment. */

:root {
  --m3syslighton-surface-variant: rgba(73, 69, 79, 1);
}

/* The end of the injected content. */

/* This snippet is injected by Anima. Feel free to delete this comment. */

:root {
  --m3syslighton-surface-variant: rgba(73, 69, 79, 1);
}

/* The end of the injected content. */

/* This snippet is injected by Anima. Feel free to delete this comment. */

:root {
  --m3syslighton-surface-variant: rgba(73, 69, 79, 1);
}

/* The end of the injected content. */

/* This snippet is injected by Anima. Feel free to delete this comment. */

:root {
  --m3syslighton-surface-variant: rgba(73, 69, 79, 1);
}

/* The end of the injected content. */

/* This snippet is injected by Anima. Feel free to delete this comment. */

:root {
  --m3syslighton-surface-variant: rgba(73, 69, 79, 1);
}

/* The end of the injected content. */

/* This snippet is injected by Anima. Feel free to delete this comment. */

:root {
  --m3syslighton-surface-variant: rgba(73, 69, 79, 1);
}

/* The end of the injected content. */

/* This snippet is injected by Anima. Feel free to delete this comment. */

:root {
  --m3syslighton-surface-variant: rgba(73, 69, 79, 1);
}

/* The end of the injected content. */

:root {
  --m3syslighton-surface-variant: rgba(73, 69, 79, 1);
}
